<h2 class="header">Table</h2>
<table class="table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>First Name</td>
      <td>{{data.firstName}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Last Name</td>
      <td>{{data.lastName}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gender</td>
      <td>{{data.gender}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Phone</td>
      <td>{{data.phn}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Password</td>
      <td>{{data.password}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Employee ID</td>
      <td>{{data.num}}</td>
    </tr>
  </tbody>
</table>